.card {
  /*   max-width: 500px;
  width: auto;
  height: auto; */

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  /*   border: 1px solid rgba(0,0,0,.125); */
  border-radius: 0.25rem; /*  */
}
.card .card-img-top {
  cursor: pointer;
}
.detail .images {
  max-width: 500px;
  margin: 1rem auto;
}
.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem auto auto auto;
  padding: 0.2rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 500px;
  border-radius: 0.3rem;
}

.detail .card-img-top {
  max-width: 300px;
  max-height: 450px;
  margin: 0.2rem 0;
}
.detail .card-body {
  max-width: 500px;
  width: auto;
  height: auto;
  margin: 0.2rem;
}
.detail .wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.detail .information {
  margin-top: 1rem;
}
.detail .information h5,
.detail .information > div:last-of-type {
  text-align: left;
}
.title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.title h5 {
  font-size: 1rem;
  margin-top: 0.3rem;
}
.information div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.inputFav {
  min-width: 260px;
}

.inputFav input {
  max-width: 70px;
}
.inputFav form {
  display: flex;
  justify-content: space-between;
}

.informationFav {
  /*  max-width: 260px; */
  max-width: 500px;
  padding: 0.5rem;
  margin-top: 1.5rem;
}

.informationFav div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 260px;
}
.fav-style .wrapper {
  /*   max-width: 250px; */
  max-width: 500px;
  padding: 0.5rem;
}
.fav-style {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  max-width: 500px;
  height: auto;
  margin: auto;
}

.fav-style .warning {
  color: red;
}

.information h5:first-of-type {
  padding-bottom: 1rem;
}

.information h5:last-of-type {
  padding-top: 1.5rem;
}

/* .card-img-top:hover {
  opacity: 0.4;
  transition-delay:0.5s;
} */
.fav-icon path {
  max-width: 30px;
  width: auto;
  height: auto;
  cursor: pointer;
  fill: white;
  stroke: #3f3f3f;
}

.fav-icon-fav path {
  max-width: 30px;
  width: auto;
  height: auto;
  cursor: pointer;
  fill: #e94242;
  stroke: #e94242;
}
/* Tooltip container */
.fav-container {
  position: relative;
  display: inline-block;
}
.fav-container svg {
  fill: white;
}

/* Tooltip text */
.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;

  /* Position the tooltip text - see examples below! */
  top: -3px;
  right: 110%;

  /*   Top Tooltip */
  /*  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; */
}
/* Use half of the width (120/2 = 60), to center the tooltip */

/* Right Tooltip
.tooltip .tooltiptext {
  top: -5px;
  left: 105%;
} */

/* Left Tooltip */
/* .tooltip .tooltiptext {
  top: -5px;
  right: 105%;
} */

/* Bottom Tooltip
.tooltip .tooltiptext {
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
} */
/* Use half of the width (120/2 = 60), to center the tooltip */

/* Show the tooltip text when you mouse over the tooltip container */
.fav-container:hover .tooltip-text {
  visibility: visible;
}

@media (min-width: 500px) {
  .card {
    max-width: 300px;
  }
  .detail {
    max-width: 700px;
    padding: 1rem;
  }

  .detail .images {
    max-width: 260px;
    margin: 1rem;
  }

  .fav-style .card-img-top {
    border-bottom-left-radius: calc(0.25rem - 1px);
    border-bottom-right-radius: calc(0.25rem - 1px);
    max-width: 350px;
    height: auto;
  }
  .detail .card-img-top {
    max-width: 300px;
    max-height: 450px;
    margin: 1rem;
  }
  .detail .card-body {
    max-width: 300px;
    width: auto;
    height: auto;
    margin: 1rem;
  }
}
@media (min-width: 900px) {
  .fav-style {
    justify-content: space-between;
    padding: 1.5rem;
    max-width: 800px;
    padding-bottom: 0;
  }
  .fav-info-wrapper {
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
}
