<div class="header" >
  <h1>{{ title }}</h1>
  <nav class="navigation">
    <div (click)="goHome()"><img src="../assets/icon_home.png" alt="home icon">
      <h6></h6>
    </div>
    <div (click)="goFavs()"><img src="../assets/icon_list.png" alt="list icon">
      <h6>Favs<span [ngClass]="itemsStore.length > 0 ? 'favs-number-active' : 'fav-number-inactive'">
          {{ itemsStore.length }}</span>
      </h6>
    </div>
  </nav>
</div>
<!--  -->
<div class="content" #contentArea *ngIf="isScrollEnded">
  <router-outlet></router-outlet>
</div>
